/* || General setup */
* {
  box-sizing: border-box;
}
html, body {
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
  background-color: ##DA21E;
}

#conteneur-home{
  width:100%;
  background:url("../image/island.jpg")
  fixed 100% no-repeat;
  background-size:cover;
  padding:159.5px 0px 100px 0px;
  text-alighn:center;
}


/* || typography */

h1, h2, h3 {
  font-family: 'Sonsie One', cursive;
  color: #2a2a2a;
}

p, input, li {
  font-family: 'Open Sans Condensed', sans-serif;
  color: #2a2a2a;
}

h1 {
  font-size: 4rem;
  text-align: center;
  color: white;
  text-shadow: 2px 2px 10px black;
}

h2 {
  font-size: 3rem;
  text-align: center;
}

h3 {
  font-size: 2.2rem;
}

p, li {
  font-size: 1.6rem;
  line-height: 1.5;
}

/* || header layout */

nav, article, aside, footer {
  background-color: white;
  padding: 1%;
}

nav {
  height: 50px;
  background-color: #ffff;
  display: flex;
  margin-bottom: 10px;
}

nav ul {
  padding: 0;
  list-style-type: none;
  flex: 2;
  display: flex;
}

nav li {
  display: inline;
  text-align: center;
  flex: 1;
}

nav a {
  display: inline-block;
  font-size: 2rem;
  text-transform: uppercase;
  text-decoration: none;
  color: black;
}

nav form {
  flex: 1;
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 2em;
}

input {
  font-size: 1.6rem;
  /* height: 32px; */
}

input[type="search"] {
  flex: 3;
}

input[type="submit"] {
  flex: 1;
  margin-left: 1rem;
  background: #D7D7CB;
  border: 0;
  color: white;
}

/* || main layout */

main {
  display: flex;
}

article {
  flex: 4;
}

aside {
  flex: 1;
  margin-left: 10px;
  background-color: #D7D7CB;
}

aside li {
  padding-bottom: 10px;
}

footer {
  margin-top: 10px;
}


.Okona {
  width:150px;
  border-radius: 50%;

}
.about_me{
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}
.subsection{
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}

.okona_t{
  font-family: Copperplate, "Copperplate Gothic Light", fantasy; font-size: 45px; font-style: normal;
}

.related{
   font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}
.portfolio{
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}
